Repository valerymo/marin3r-product-build: changes, and which Tekton pipelines are due for each by the changed paths.
All: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push, marin3r-operator-on-pull-request, marin3r-operator-on-push

Path conditions:
  marin3r-operator-bundle-on-pull-request: (((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/marin3r-operator-bundle-pull-request.yaml)) or (any of: .tekton/marin3r-operator-bundle-push.yaml)) or (any of: Containerfile.marin3r-operator-bundle)) or (any of: marin3r)) or (any of: bundle-hack/***)
  marin3r-operator-bundle-on-push: ((((((((any of: .tekton/single-arch-build-pipeline.yaml) or (any of: .tekton/marin3r-operator-bundle-pull-request.yaml)) or (any of: .tekton/marin3r-operator-bundle-push.yaml)) or (any of: Containerfile.marin3r-operator-bundle)) or (any of: marin3r)) or (any of: bundle-hack/***)) or (any of: rpms.in.yaml)) or (any of: rpms.lock.yaml)) or (any of: pyproject.toml)
  marin3r-operator-on-pull-request: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/marin3r-operator-pull-request.yaml)) or (any of: .tekton/marin3r-operator-push.yaml)) or (any of: Containerfile.marin3r-operator)) or (any of: marin3r)
  marin3r-operator-on-push: ((((any of: .tekton/multi-arch-build-pipeline.yaml) or (any of: .tekton/marin3r-operator-pull-request.yaml)) or (any of: .tekton/marin3r-operator-push.yaml)) or (any of: Containerfile.marin3r-operator)) or (any of: marin3r)

MGDAPI-6699 - update 1 (rpm and prefetch)
  .tekton/marin3r-operator-bundle-pull-request.yaml
  .tekton/marin3r-operator-bundle-push.yaml
  .tekton/marin3r-operator-image-pull-request.yaml
  .tekton/marin3r-operator-image-push.yaml
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

MGDAPI-6699 - update 2
  .tekton/marin3r-operator-bundle-pull-request.yaml
  .tekton/marin3r-operator-bundle-push.yaml
  .tekton/marin3r-operator-image-pull-request.yaml
  .tekton/marin3r-operator-image-push.yaml
  Containerfile.marin3r-operator
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push, marin3r-operator-on-pull-request, marin3r-operator-on-push

test hermetic bundles
  .tekton/marin3r-operator-bundle-pull-request.yaml
  .tekton/marin3r-operator-bundle-push.yaml
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

enable dev-package-managers
  .tekton/marin3r-operator-bundle-pull-request.yaml
  .tekton/marin3r-operator-bundle-push.yaml
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

MGDAPI-6699 dev-package-managers
  .tekton/marin3r-operator-bundle-pull-request.yaml
  .tekton/marin3r-operator-bundle-push.yaml
  Containerfile.marin3r-operator
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push, marin3r-operator-on-pull-request, marin3r-operator-on-push

add go-mod-vendor
  .tekton/marin3r-operator-image-pull-request.yaml
  .tekton/marin3r-operator-image-push.yaml
Due: none

MGDAPI-6699-1 fix build issues
  .tekton/marin3r-operator-image-pull-request.yaml
  .tekton/marin3r-operator-image-push.yaml
  Containerfile.marin3r-operator
Due: marin3r-operator-on-pull-request, marin3r-operator-on-push

go toolchain added + cleanup
  .tekton/marin3r-operator-image-pull-request.yaml
  .tekton/marin3r-operator-image-push.yaml
Due: none

add hermetic builds to operator image
  .tekton/marin3r-operator-image-pull-request.yaml
  .tekton/marin3r-operator-image-push.yaml
  Containerfile.marin3r-operator
Due: marin3r-operator-on-pull-request, marin3r-operator-on-push

update test ++
  .tekton/marin3r-operator-image-push.yaml
  Containerfile.marin3r-operator
Due: marin3r-operator-on-pull-request, marin3r-operator-on-push

move to entitled content
  Containerfile.marin3r-operator
  Containerfile.marin3r-operator-bundle
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push, marin3r-operator-on-pull-request, marin3r-operator-on-push

update from Michal
  .tekton/marin3r-operator-image-pull-request.yaml
  .tekton/marin3r-operator-image-push.yaml
  Containerfile.marin3r-operator
Due: marin3r-operator-on-pull-request, marin3r-operator-on-push

fix license
  Containerfile.marin3r-operator
Due: marin3r-operator-on-pull-request, marin3r-operator-on-push

disable source image builder for now and switch to free content base images
  .tekton/marin3r-operator-image-pull-request.yaml
  .tekton/marin3r-operator-image-push.yaml
  Containerfile.marin3r-operator
  Containerfile.marin3r-operator-bundle
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push, marin3r-operator-on-pull-request, marin3r-operator-on-push

additional fixes
  .tekton/marin3r-operator-image-pull-request.yaml
  .tekton/marin3r-operator-image-push.yaml
  bundle-hack/update_bundle.sh
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

remove source images
  .tekton/marin3r-operator-image-pull-request.yaml
  .tekton/marin3r-operator-image-push.yaml
Due: none

add labels +
  .tekton/marin3r-operator-image-pull-request.yaml
  .tekton/marin3r-operator-image-push.yaml
  bundle-hack/update_bundle.sh
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

update rpms
  rpms.lock.yaml
  ubi.repo
Due: marin3r-operator-bundle-on-push

MGDAPI-6699 update labels
  Containerfile.marin3r-operator
  Containerfile.marin3r-operator-bundle
  bundle-hack/update_bundle.sh
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push, marin3r-operator-on-pull-request, marin3r-operator-on-push

MGDAPI-6699 update labels
  Containerfile.marin3r-operator-bundle
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

MGDAPI-6699 - cleanup
  Containerfile.marin3r-operator-bundle
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

MGDAPI-6702 for TEST Only, Not for merge
  bundle-hack/update_bundle.sh
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

MGDAPI-6699-7 Update marin3r-operator channel to stable
  Containerfile.marin3r-operator-bundle
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

update channel to stable
  Containerfile.marin3r-operator-bundle
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push

update/sync drift-cache Dockerfile with Upstream
  drift-cache/marin3r-operator/Dockerfile
Due: none

Synchronizing submodule, v0.13.3
  bundle-hack/update_bundle.sh
Due: marin3r-operator-bundle-on-pull-request, marin3r-operator-bundle-on-push
